<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/pageHead', { title: 'Reset Password' }) %>
    <link rel="stylesheet" href="/public/css/login_signup/root.css">
    <link rel="stylesheet" href="/public/css/form.css">
</head>

<body>
    <%- include('../components/bodyHead') %>

    <script src="/public/js/resetpassword.js"></script>

    <div class="form-wrapper">
        <div class="form-container">
            <h2>Password Reset</h2>
            <form method="POST" action="/forgot-password/<%= _id %>/<%= token %>" id="resetPasswordForm">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" required>
                <div class="error-message" id="passwordError"></div>
                <div class="error-message" id="otherError"></div>
                <div id="_id-data" data-_id="<%= _id %>"></div>
                <div id="token-data" data-token="<%= token %>"></div>
                <input type="submit" value="Reset Password">
            </form>
        </div>
        <div class="submitted-container" style="display:none">
            <h1>Password Reset Complete</h1>

            <% if (typeof error !=='undefined' && error !==null) { %>
                <h2>Password Change Unsuccessful - please check the error below and try again.</h2>
                <p style="color: red;">
                    <%= error %>
                </p>
                <% } else { %>
                    <h2>Your password has sucessfully been reset.</h2>
                    <p>Go ahead and sign in to your account below.</p>
                    <br>
                    <a href="/account/signin">Sign In</a>
                        <% } %>
        </div>
    </div>
</body>

</html>